@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 225 15% 11%;
    --foreground: 0 0% 93%;
    
    --muted: 220 15% 20%;
    --muted-foreground: 0 0% 60%;
    
    --card: 222 10% 13%;
    --card-foreground: 0 0% 95%;
    
    --border: 220 15% 20%;
    --input: 220 15% 20%;
    
    --primary: 191 100% 50%;
    --primary-foreground: 0 0% 98%;
    
    --secondary: 169 100% 50%;
    --secondary-foreground: 0 0% 98%;
    
    --accent: 291 76% 53%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    
    --ring: 191 100% 50%;
    
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-[hsl(var(--border))];
  }
  body {
    @apply bg-background text-foreground;
  }
}
